# SMTP per email
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_user
SMTP_PASS=your_password
EMAIL_FROM=alerts@example.com
EMAIL_TO=tuamail@example.com
EMAIL_TO2=tuamail2@example.com

# true/false - abilita il digest giornaliero top 5 (mode digest)
DAILY_TOP5_ENABLED=true
